html, body { height: 100%; }

.body { height: 90%; }

.body-sidebar, .body-content { height: 100%; }

.body-sidebar { padding: 0px; }

.body-content { padding: 40px 20px; overflow: scroll; }

.body-sidebar { margin-top: -1px; }

.body-sidebar--bgcolor { background-color: #4C4945; }

.body-content--bgcolor { background-color: #F6F3EF; }

.body-sidebar-ullist { padding: 0px; text-align: center; }

.body-sidebar-ullist .item { font-size: 1.286em; list-style: none; padding: 10px 5px;}

.body-sidebar-ullist .item a { color: #fff; }

.body-content-wrapper { padding: 20px 60px;}

.body-content-wrapper--bgcolor { background-color: #fff; box-shadow: 1px 2px #d7d7d7; }

.item-body { padding-left: 20px; } 

.item-body-part { margin: 30px 10px; }

.subpart { display: inline-block; margin: 5px 20px; }

.subpart span { margin-right: 20px; }

.subpart span:first-child { font-weight: 700; }