html, body, div.container-fluid { height: 100%; }

.header { height: 10%; }

.header-content--bdstyle, .header-title--bdstyle {
	border-width: 0px 0px 1px 0px;
	border-style: none none solid none; 
}

.header-content { box-shadow: 0px 1px 1px #EEE; position: relative; z-index: 100; }

.header-title--bdstyle { border-color: #BE1F00; }

.header-content--bdstyle { border-color: #d7d7d7; }

.header-title { color: #fff; height: 100%;  }

.header h2 { margin-top: 15px; }

.header-title, .header-content { padding: 12px 0px; }

.header-content .namespace { font-size: 1.286em; line-height: 2em; text-align: center; }

.header-title { 
	font-size: 1.8em;
	text-align: center; 
}

.header-content .item, .header-content .namespace { height: 2em; }

.header--bgcolor, .header-title--bgcolor, .footer--bgcolor { background-color: #BE1F00; }