html, body, div.container-fluid { height: 100%; }

.header { height: 10%; }

.header h2 { margin-top: 15px; }

.header--bgcolor, .footer--bgcolor { background-color: #BE1F00; }

.main { height: 75%; padding: 50px 0;}

.main--bgcolor { background-color: #E8E8E8; }

.form-header { 
	margin-bottom: 20px;
	padding: 10px 0px;
	border-bottom: 1px solid #f2f2f2; 
	width: 250px;
}

.form-item { display: block; margin: 5px 0px;}

.form-item:nth-child(2), .form-item:nth-child(4) { margin-bottom: 20px; }

input.form-item { width: 200px; height: 28px; }

.footer { height: 15%; }

.footer-group{ padding: 15px 0px; }

.footer-group-wrapper { text-align: center; margin: 5px 0px; }

.footer-group-wrapper-item { color: white; }
