<!DOCTYPE html>
<html ng-app="dashboard">
<head>
	<title></title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="../libs/bootstrap.min.css"></link>
	<link rel="stylesheet" type="text/css" href="../css/header.css"></link>
	<link rel="stylesheet" type="text/css" href="../css/dashboard.css"></link>
	<script type="text/javascript" src="../libs/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src='../libs/pouchdb-3.5.0.min.js'></script>
	<script type="text/javascript" src='../libs/bootstrap.min.js'></script>
	<script type="text/javascript" src='../libs/angular.min.js'></script>
	<script type="text/javascript" src="../libs/require.js"></script>
	<script type="text/javascript" src='../db/db.js'></script>
	<!--<script type="text/javascript" src="../models/serial.js"></script>-->
	<script type="text/javascript" src="../models/dashboard.js"></script>
</head>
<body>
	<div class='container-fluid' ng-controller="MainPanelController as mpanel">
		<div class="header header--bdstyle row">
			<div class="header-title header-title--bgcolor header-title--bdstyle col-md-2">
				<span>JassLin</span>
			</div>
			<div class="header-content header-content--bdstyle col-md-10">
				<div class="col-md-offset-6 col-md-2 namespace">
					<span>
						User
					</span>
				</div>				
				<div class="col-md-2 item">
					<button class="btn btn-danger">
						技術支援
					</button>
				</div>
				<div class="col-md-2 item">
					<button class="btn btn-warning">
						登出
					</button>
				</div>				
			</div>
		</div>
		<div class="body row">
			<div class="body-sidebar body-sidebar--bgcolor col-md-2">
				<ul class="body-sidebar-ullist">
					<li class="item" ng-class="{ active:mpanel.ctrl.isSelected(1) }">
						<a ng-click="mpanel.ctrl.selectTab(1)">
							主機資訊
						</a>
					</li>					
					<li class="item" ng-class="{ active:mpanel.ctrl.isSelected(2) }">
						<a ng-click="mpanel.ctrl.selectTab(2)">
							車機設定
						</a>
					</li>
					<li class="item" ng-class="{ active:mpanel.ctrl.isSelected(3) }">
						<a ng-click="mpanel.ctrl.selectTab(3)">
							通訊模組設定
						</a>
					</li>
					<li class="item" ng-class="{ active:mpanel.ctrl.isSelected(4) }">
						<a ng-click="mpanel.ctrl.selectTab(4)">
							恢復/重新啟動
						</a>
					</li>
					<li class="item" ng-class="{ active:mpanel.ctrl.isSelected(5) }">
						<a ng-click="mpanel.ctrl.selectTab(5)">
							CAN相關功能
						</a>
					</li>
					<li class="item" ng-class="{ active:mpanel.ctrl.isSelected(6) }">
						<a ng-click="mpanel.ctrl.selectTab(6)">
							套用先前設定
						</a>
					</li>					
				</ul>
			</div>
			<div class="body-content body-content--bgcolor col-md-10" 
				 ng-init="tab = {{ mpanel.ctrl.tab }}">
				<div class="body-content-wrapper body-content-wrapper--bgcolor col-md-12" 
					 ng-controller="StatusController as status" 
					 ng-show="mpanel.ctrl.isSelected(1)">
					<div class="item">
						<div class="item-head">
							<h3>主機資訊</h3>
						</div>
						<div class="item-body">
							<div class="item-body-part">
								<h4>車輛與車機</h4>
								<div class="subpart">
									<span>主機資訊</span>
									<span>{{ status.deviceStatus.deviceName }}</span>
								</div>
								<div class="subpart">
									<span>車牌</span>
									<span>{{ status.deviceStatus.carNumber }}</span>
								</div>
								
							</div>
							<div class="item-body-part">
								<h4>所在位置</h4>
								<div class="subpart">
									<span>經緯度</span>
									<span>{{ status.deviceStatus.lat }}</span>
									<span>{{ status.deviceStatus.lng }}</span>
								</div>
							</div>
							<div class="item-body-part">
								<h4>時間</h4>
								<div class="subpart">
									<span>日期</span>
									<span>{{ status.deviceStatus.currentDate }}</span>
								</div>
								<div class="subpart">
									<span>時間</span>
									<span>{{ status.deviceStatus.currentTime }}</span>
								</div>
								<div class="subpart">
									<span>時區</span>
									<span>{{ status.deviceStatus.timeZone }}</span>
								</div>
							</div>							
							<div class="item-body-part">
								<h4>速度與里程</h4>
								<div class="subpart">
									<span>速度</span>
									<span>{{ status.deviceStatus.speed }}</span>
								</div>
								<div class="subpart">
									<span>轉速</span>
									<span>{{ status.deviceStatus.rpm }}</span>
								</div>
								<div class="subpart">
									<span>總里程數</span>
									<span>{{ status.deviceStatus.totalMiles }}</span>
								</div>
							</div>
							<div class="item-body-part">
								<h4>特殊狀態</h4>
								<div class="subpart">
									<span>ACC</span>
									<span>{{ status.deviceStatus.isAcc | uppercase }}
									</span>
								</div>
								<div class="subpart">
									<span>永電</span>
									<span>{{ status.deviceStatus.isElectret | uppercase }}
									</span>
								</div>
								<div class="subpart">
									<span>電池充電狀態</span>
									<span>{{ status.deviceStatus.isCharge | uppercase }}
									</span>
								</div>
							</div>
							<div class="item-body-part">
								<h4>燈</h4>
								<div class="subpart">
									<span>遠燈</span>
									<span>{{ status.deviceStatus.isFarLight | uppercase }}
									</span>
								</div>
								<div class="subpart">
									<span>近燈</span>
									<span>{{ status.deviceStatus.isCloseLight | uppercase }}
									</span>
								</div>
							</div>
							<div class="item-body-part">
								<h4>煞車與SOS</h4>
								<div class="subpart">
									<span>煞車</span>
									<span>{{ status.deviceStatus.isBrake | uppercase }}
									</span>
								</div>
								<div class="subpart">
									<span>SOS</span>
									<span>{{ status.deviceStatus.isSos | uppercase }}
									</span>
								</div>
							</div>
							<div class="item-body-part">
								<h4>GAIN</h4>
								<div class="subpart">
									<span>車速GAIN值</span>
									<span>{{ status.deviceStatus.speedGain }}</span>
								</div>
								<div class="subpart">
									<span>轉速GAIN值</span>
									<span>{{ status.deviceStatus.rotateGain }}</span>
								</div>
							</div>
							<div class="item-body-part">
								<h4>IP位置</h4>
								<div class="subpart">
									<span>IP1</span>
									<span>{{ status.deviceStatus.ip1 }}</span>
								</div>
								<div class="subpart">
									<span>IP2</span>
									<span>{{ status.deviceStatus.ip2 }}</span>
								</div>
							</div>
							<div class="item-body-part">
								<h4>駕駛與韌體版本</h4>
								<div class="subpart">
									<span>駕駛ID</span>
									<span>{{ status.deviceStatus.driverID }}</span>
								</div>
								<div class="subpart">
									<span>韌體版本</span>
									<span>{{ status.deviceStatus.firmVer }}</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="body-content-wrapper body-content-wrapper--bgcolor col-md-12" 
				 	 ng-show="mpanel.ctrl.isSelected(2)" >
				 	<div class="item-head">
				 		<h3>車機設定</h3>
				 	</div>
				 	<div class="item-body">
				 		<div class="item-body-section">
				 			<div class="tabindex navbar-collapse collapse" 
				 				 ng-controller="CofPanelController as cpanel">
				 				<ul class="nav navbar-nav">
									<li class=""><a ng-click="cpanel.ctrl.selectTab(1)">
										車籍資料</a>
									</li>	
									<li class=""><a ng-click="cpanel.ctrl.selectTab(2)">
										車牌號碼</a>
									</li>
									<li class=""><a ng-click="cpanel.ctrl.selectTab(3)">
										基本資料</a>
									</li>
									<li class=""><a ng-click="cpanel.ctrl.selectTab(4)">
										時間</a>
									</li>
									<li class=""><a ng-click="cpanel.ctrl.selectTab(5)">
										警報</a>
									</li>
									<li class=""><a ng-click="cpanel.ctrl.selectTab(6)">
										特殊參數</a>
									</li>
				 				</ul>
				 			</div>
							<div class="" ng-show="">
								
							</div>
							<div class="" ng-show="">
								
							</div>
							<div class="" ng-show="">
								
							</div>
							<div class="" ng-show="">
								
							</div>
							<div class="" ng-show="">
								
							</div>
							<div class="" ng-show="">
								
							</div>
							<div class="" ng-show="">
								
							</div>				 			
				 		</div>
				 	</div>
				</div>
				<div class="body-content-wrapper body-content-wrapper--bgcolor col-md-12" 
				 	 ng-show="mpanel.ctrl.isSelected(3)" >
					<h3>通訊模組設定</h3>
				</div>
				<div class="body-content-wrapper body-content-wrapper--bgcolor col-md-12" 
				 	 ng-show="mpanel.ctrl.isSelected(4)" >
				 	<h3>恢復/重新啟動</h3>
				</div>
				<div class="body-content-wrapper body-content-wrapper--bgcolor col-md-12" 
				 	 ng-show="mpanel.ctrl.isSelected(5)" >
				 	<h3>CAN相關功能</h3>
				</div>
				<div class="body-content-wrapper body-content-wrapper--bgcolor col-md-12" 
				 	 ng-show="mpanel.ctrl.isSelected(6)" >
				 	<h3>套用先前設定</h3>
				</div>
			</div>
		</div>
	</div>
</body>
</html>